body {
    margin: 0;
    padding: 0;
    border: 0;
}

.color-navbar {
    background-color: #373a33;
}

#hero-section {
    background-image: url(../img/bg-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

